body{
    text-align: center;
    color : white;
    font-family: 'Verdana';
    max-width: 960px;
    margin: 0 auto;
}
p{
  color: darkgray;

}

.wrapper{
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 50px 50px 50px 50px;
}
.wrapper>*{
    border: 1px solid black;
}
header {
    grid-column-start: 1;
    grid-column-end: 4;
    background: #aa9eaf;
}
nav {
    grid-row-start: 2;
    grid-row-end: 3;
    background: #aa9eaf;
}
main {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 4;
    background: #aa9eaf;
}
aside{
  grid-row-start: 3;
  grid-row-end: 4;
  background: #aa9eaf;
}
footer {
    grid-column-start: 1;
    grid-column-end: 4;
    background: #aa9eaf;
}


.wrapper2{
  display: grid;
  /*grid-template-columns: 1fr 1fr 1fr;*/
  /*grid-template-columns: 33.3% 33.3% 33.3%;*/
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(100px,auto);
  grid-gap : 10px;
}
.wrapper2  div{
  background : #7a0fa8;
  padding: 30px;
  border: 1px solid black;
}
.wrapper2  div:nth-child(even){
  background: #aa9eaf;
}
